/* CUENTO */
.cuento{
    font-family:"DM Sans"
}
.cuento::first-letter{
    color: blue;
    font-size: 30px;
}
.cuento::first-line{
    color:darkcyan;
    font-weight: bond;
}

/* Arcoiris */
.center{
    text-align: center;
}

.arcoiris{
    font-family:"Fredoka";
}
.arcoiris span:nth-child(1){color:blueviolet; font-size:100px}
.arcoiris span:nth-child(2){color:blue; font-size:24px; font-weight: 500;}
.arcoiris span:nth-child(3){color:cyan; font-size:55px}
.arcoiris span:nth-child(4){color:blue; font-size:24px; font-weight: 500;}

.arcoiris-text{
    font-size: 22px;
    color:gray;
    font-weight: bold;
}
.arcoiris-text::first-letter{
    color:blueviolet;
    font-size:40px;
}

.par2{
    text-decoration: underline;
    font-size: 22px;
    color:gray;
    font-weight: bold;
}
